<%= form_with(model: evento, local: true) do |form| %>
  <% if evento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evento.errors.count, "error") %> prohibited this evento from being saved:</h2>

      <ul>
      <% evento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :evento_status %>
  </div>

  <div class="field">
    <%= form.label :usuario %>
    <%# :usuario @user.nome %>
    <%= form.text_field :usuario, id: :evento_usuario %>
  </div>

  <div class="field">
    <%= form.label :marca %>
    <%= form.text_field :marca, id: :evento_marca %>
  </div>

  <div class="field">
    <%= form.label :modelo %>
    <%= form.text_field :modelo, id: :evento_modelo %>
  </div>

  <div class="field">
    <%= form.label :ano %>
    <%= form.number_field :ano, id: :evento_ano %>
  </div>

  <div class="field">
    <%= form.label :combustivel %>
    <%= form.text_field :combustivel, id: :evento_combustivel %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor, id: :evento_valor %>
  </div>

  <div class="field">
    <%= form.label :fim %>
    <%= form.time_select :fim, id: :evento_fim %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
