<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Usuario</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Ano</th>
      <th>Combustivel</th>
      <th>Valor</th>
      <th>Fim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.status %></td>
        <td><%= evento.usuario %></td>
        <td><%= evento.marca %></td>
        <td><%= evento.modelo %></td>
        <td><%= evento.ano %></td>
        <td><%= evento.combustivel %></td>
        <td><%= evento.valor %></td>
        <td><%= evento.fim %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
