<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @evento.status %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @evento.usuario %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @evento.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @evento.modelo %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @evento.ano %>
</p>

<p>
  <strong>Combustivel:</strong>
  <%= @evento.combustivel %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @evento.valor %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @evento.fim %>
</p>

<br />

<h2>Lances</h2>
<% @evento.lances.each do |lance| %>
<p>
  <strong>Nome:</strong>
  <%= lance.nome %>
</p>
<p>
  <strong>Lance:</strong>
  <%= number_with_precision(lance.valor, :precision => 2) %>
</p>
<% end %>

<br />
<br />

<h2>Fazer um Lance:</h2>
<%= form_for([@evento,@evento.lances.build]) do |f| %>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
<p>
  <%= f.submit %>
</p>
<% end %>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
